=  link_to "Home",home_index_path, class: 'pull-right', style: 'font-weight: bold;margin-top:34px;'
.page-header
  %h3 Litigation documents OCR status

.ocr-docs-count-details.col-lg-5
  %ul.list-group
    %li.list-group-item.text-primary
      No. of cases OCR'ed
      %span.badge
        = @presenter.lit_docs_ocred_count
    %li.list-group-item.text-danger
      No. of cases yet to be OCR'ed
      %span.badge
        = @presenter.lit_docs_ocrable_count

.ocred-cass-list.col-lg-12
  .page-header
    %h4 Lit Documents based on document types

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Document Type
        %th Total documents
        %th Ocred documents
        %th Ocrable documents

    %tbody
      - @presenter.lit_total_docs_doc_type.each do |lit_docs_doctype|
        %tr
          %td #{lit_docs_doctype.attributes['doc_type']}
          %td #{lit_docs_doctype.attributes['count']}
          - ocred_doc_res = @presenter.lit_ocred_docs_doc_type.select{|x| x.attributes['doc_type'] == lit_docs_doctype.attributes['doc_type']}
          -if ocred_doc_res.present?
            %td #{ocred_doc_res.first.attributes['count']}
          -else
            %td 0
          - ocrable_doc_res = @presenter.lit_ocrable_docs_doc_type.select{|x| x.attributes['doc_type'] == lit_docs_doctype.attributes['doc_type']}
          -if ocrable_doc_res.present?
            %td #{ocrable_doc_res.first.attributes['count']}
          -else
            %td 0

.ocred-cass-list.col-lg-12
  .page-header
    %h3 OCRed Cases List

  %table.table.table-striped.table-bordered#lit-documents{data: {source: "#{lit_documents_documents_ocr_statuses_url}"}}
    %thead
      %tr
        %th Case key
        %th Filed date
        %th #of documents
    %tbody